body{

background-image: url("./misc034.jpg");


}


/* Global text: white foreground with black outline */
:root{
	--text-color: #ffffff;
	--outline-color: #000000;
	--stroke-width: 0.8px;
    font-size: larger;
}

body, body *{
	color: var(--text-color) !important;
	-webkit-text-stroke: var(--stroke-width) var(--outline-color);
	text-shadow: 2px 0 0 var(--outline-color), -2px 0 0 var(--outline-color), 0 2px 0 var(--outline-color), 0 -2px 0 var(--outline-color), 1px 1px 0 var(--outline-color), -1px -1px 0 var(--outline-color), 1px -1px 0 var(--outline-color), -1px 1px 0 var(--outline-color);
	background-color: transparent !important;
}

/* Make placeholder text visible with the same style */
::placeholder{
	color: var(--text-color) !important;
	opacity: 1;
	-webkit-text-stroke: var(--stroke-width) var(--outline-color);
	text-shadow: 2px 0 0 var(--outline-color), -2px 0 0 var(--outline-color), 0 2px 0 var(--outline-color), 0 -2px 0 var(--outline-color);
}
